*{margin:0;padding:0;}
body{
  min-width:1360px;
  font-size:14px;
  font-family:"microsoft yahei";
}
a{text-decoration:none;}
ul{list-style:none;}
input{outline:0;}
.font_small{font-size:12px;}
.font_main_color{color:#bf967c;}
.d_inline_block{display:inline-block;}
.d_block{display:block;}
.float_r{float:right;}
.float_l{float:left;}
.mx_center{margin-left:auto;margin-right:auto;}
.clear_after:after{
  content:"";
  display:block;
  clear:both;
}
.d-flex{
  display:flex;
  justify-content:space-around;
}