.header_top{
  height:140px;
  position:relative;
  margin-top:24px;
}
.gps_icon{ vertical-align:middle;}
.font_small.font_main_color{line-height:20px;}
a.total_store{margin-left:26px;color:#797979;}
div.float_r{line-height:20px;}
.log_reg_btn{
  display:inline-block;
  height:20px;
  background:#8b766c;
  color:#fff;
  padding:0 14px;
}
div.float_r ul{
  display:inline-block;
  background:#fff;
  padding:0 10px;
}
div.float_r ul li:first-child{
  background:url(../img/index/bottom.png) no-repeat right center;
}
.lan_choose{
  position:absolute;
  z-index:2;
}
div.float_r ul a{display:block;color:#8d8d8d;}
div.float_r ul a:hover{color:#bf967c;}
.phone_icon{vertical-align:middle;}
.color_gray{color:#8d8d8d;}
a.color_gray:hover{color:#bf967c;}
.b_slash:before{
  content:"/";
  display:inline-block;
  font-size:12px;
  color:#8d8d8d;
  padding:0 5px;
}
.search_id{
  position:absolute;
  top:30px;right:0;
}
.search_id input{
  width:200px;
  border:1px solid #d7d7d7;
  font-size:13px;
  padding:6px 4px 6px 10px;
  z-index:1;
}
.dr_logo{
  position:absolute;
  top:22px;left:50%;
  margin-left:-55.5px;
}
.search_icon{
  position:absolute;
  width:22px;height:23px;
  top:3px;right:4px;
  background:url(../img/index/ico-seach.png) no-repeat center center;
}
.dr_nav{
  position:relative;
  left:0px;
  height:54px;
}
.dr_nav>li>a{
  display:inline-block;
  width:170px;
  text-align:center;
  color:#333;
  font-size:12px;
  line-height:54px;
}
.dr_nav a:hover{color:#bf967c;}
.dr_navsuv{
  position:absolute;
  left:0;
  box-sizing:border-box;
  min-width:1360px;
  min-height:230px;
  background:#fff;
  padding:0 180px 30px;
}
.navsuv_l{
  width:497px;min-height:200px;
  background:url(../img/index/subNav_line.png) no-repeat right center;
  background-size:auto 90%;
  padding-top:30px;
  padding-right:5px;
  text-align: center;
}
.navsuv_r{
  width:498px;min-height:200px;
  padding-top:30px;
  text-align: center;
}
.dr_navsuv_first .navsuv_l p{margin-top:26px;}
.dr_navsuv_first .navsuv_r p{margin-top:6px;}
.dr_navsuv_first .navsuv_l p a{
  display:inline-block;
  height:29px;line-height:29px;
  background:url(../img/index/black_icon.png) no-repeat right center;
  color:#5e5e61;
  padding-right:40px;
}
.dr_navsuv_first .navsuv_r p a{color:#5e5e61;}
.dr_navsuv_second img{
  width:200px;
  margin-top:20px;
}
.dr_navsuv_second .dr_set{margin-top:12px;}
.dr_navsuv_second .dr_set a{
  display:block;
  width:190px;height:42px;
  border-bottom:1px solid #dbdbdb;
  font-size:12px;
  color:#5e5e61;
  line-height:42px;
  text-align:center;
}
.dr_navsuv_second .dr_set a:hover,.navsuv_list_f1 p a:hover{
  color:#bf967c;
  border-bottom-color:#afafb0;
}
.dr_navsuv_third .navsuv_list_f1,.dr_navsuv_fourth .navsuv_list_f1{
  float:left;
  margin-left:64px;
  text-align:left;
}
.navsuv_list_f1 h6{
  font-size:14px;
  font-weight:400;
  color:#493428;
  line-height:14px;
}
.navsuv_list_f1 p{
  line-height:18px;
  margin-top:23px;
}
.navsuv_list_f1 p a{
  display:inline-block;
  width:112px;
  border-bottom:1px solid #dbdbdb;
  font-size:12px;
  color:#939393;
}
.navsuv_list_f1 .h6_mt{
  margin-top:28px;
}
.navsuv_list_f1:last-child{
  margin-left:106px;
}
.dr_navsuv_third .navsuv_r p,.dr_navsuv_fourth .navsuv_r,
.dr_navsuv_seventh p,.dr_navsuv_eighth p{
  margin-top:6px;
  line-height:24px;
  color:#5e5e61;
}
.dr_navsuv_third .navsuv_r p a,.dr_navsuv_fourth .navsuv_r p a,.dr_navsuv_seventh p a,.dr_navsuv_eighth p a{
  color:#5e5e61;
}
