*{margin:0;padding:0;}
body{
  min-width:1360px;
  font-size:14px;
  font-family:"microsoft yahei";
  background:url(../img//index/back_r_o.jpg);
  background-size:500px 1000px;
  background-attachment:fixed;
}
a{text-decoration:none;}
ul{list-style:none;}
input{outline:0;}
.w-1360{width:1360px;margin:0 auto;}
.font_small{font-size:12px;}
.font_main_color{color:#bf967c;}
.d_inline_block{display:inline-block;}
.d_block{display:block;}
.float_r{float:right;}
.float_l{float:left;}
.mx_center{margin-left:auto;margin-right:auto;}
.a_img{
  display:block;
  line-height:0;
}
.clear_after:after{
  content:"";
  display:block;
  clear:both;
}
.clear_m_t:before{
  content:"";
  display:table;
}
.d_flex{
  display:flex;
  justify-content:space-around;
}