.dr_banner{
  position:relative;
  overflow: hidden;
  height:620px;
}
#img_change>a{
  position: absolute;
  left:0;top:0;
  opacity:0;
  transition:all 1s linear;
  line-height:0;
  z-index:2
}
#img_change>a.active{opacity:1;}
.prev_button,.next_button{
  position:absolute;
  width:24px;height:45px;
  background:url(../img/index/ico-bannerBtn.png);
  top:50%;
  margin-top:-22.5px;
  z-index:3;
}
.prev_button{left:50px;}
.next_button{right:50px;background-position-x:-25px;}
.prev_button:hover,.next_button:hover{background-position-y:-45px;}
.banner_indicators{
  position:absolute;
  display:flex;
  bottom:15px;
  margin-left: 50%; 
  margin-right: 50%; 
  cursor:pointer;
  z-index:3;
}
.banner_indicators li{
  width:10px;height:10px;
  background:#fff;
  border-radius:50%;
  margin:0 5px;
}
.banner_indicators li.active{background:#666;}
.dr_love_search{margin-top:40px;}
.dr_love_search .f1{
  position:relative;
  float:left;
  width:628px;height:462px;
}
.dr_love_search .f2{
  float:left;
  width:732px;height:462px;
  background:#f5f1ee;
  text-align:center;
}
.dr_love_search .play_button{
  position:absolute;
  width:100%;height:100%;
  background:url(../img/index/ico-play.png) no-repeat center center;
}
.play_button:hover{cursor:pointer;}
.dr_love_search .f2 img{margin-top:54px;margin-bottom:20px;}
.dr_love_search .f2 p{
  font-size:18px;
  color:#493428;
  line-height:40px;
}
.dr_love_search .f2 .u_line{
  width:33px;
  border-bottom:2px solid #8f7e74;
  margin:20px auto 0;
}
.id_input{
  position:relative;
  width:280px;background:#8b766c;
  margin:20px auto 0;}
.id_input input{
  width:222px;
  background:#8b766c;
  border:0;color:#fff;
  padding:15px 0;
  text-align:center;
}
/* 修改placeholder颜色及兼容 */
.id_input input::-webkit-input-placeholder{color:#fff;}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.id_input a{
  position:absolute;
  width:22px;height:22px;
  top:11.5px;right:16px;
  background:url(../img//index/ico-wseach.png) no-repeat;
}
.dr_family{margin-top:42px;}
.family_left{float:left;width:694px;}
.family_right{float:right;width:650px;margin-left:16px;}
.family_item{position:relative;overflow:hidden;margin-bottom:16px;}
.family_item img{transition:transform .5s;}
.family_item img:hover{transform:scale(1.1);}
.family_item p{
  position:absolute;
  bottom:38px;right:40px;
  font-size:18px;
  color:#333;
}
.family_left .family_item:first-child p{left:40px;right:auto;}
.city_shop{width:551px;height:500px;background:#ded8d2;text-align:center;}
.city_shop>img{margin-top:80px;}
.input_city{
  width:336px;height:30px;
  position:relative;
  background:#8b766c;
  color:#ded8d2;
  line-height:30px;
  text-align:left;
  margin:56px auto 0;
  padding:6px 14px;
}
.input_city span{
  display:inline-block;width:116px;
  font-size:14px;text-align:center;
  cursor:pointer;
}
.input_city input{
  width:160px;height:30px;
  background:url(../img/index/ico-gps1.png) no-repeat left center;
  border:0;
  color:#ded8d2;
  padding-left:20px;
}
/* 设置placeholder颜色 */
.input_city input::-webkit-input-placeholder{color:#ded8d2;}
.input_city a{
  position:absolute;
  right:20px;top:10px;
}
.dr_shop .order_btn{
  display:block;
  width:360px;height:44px;
  background:#eee8e2;
  color:#8b766c;
  text-align:center;
  line-height:44px;
  margin:29px auto 0;
}
.dr_shop .order_btn:hover{background:#9b745c;color:#fff;}
.dr_other{
  display:flex;
  justify-content:space-between;
  margin-top:16px;
}
.dr_other a{position:relative;}
.dr_other a p{
  width:100%;
  position:absolute;
  left:0;top:50%;
  margin-top:-9px;
  font-size:18px;
  color:#fff;
  line-height:18px;
  text-align:center;
}